body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e3e2e5;
  }
  
  .calculator {
    background-color: #2f45b4;
    border-radius: 9px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  #result {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5rem;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .operator {
    background-color: #d3d3d3;
  }
  